.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.container a {
  box-shadow: rgba(92, 245, 115, 0.123) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 15px 50px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .container a {
    padding: 10px 20px;
  }
}
